:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

    section {
      display: block;
      width: 100%;
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      min-width: 0;
      font-family: monospace;
      font-size: 100%;
      margin: var(--spacing-md, 1em) 0.2em;
      padding: var(--spacing-md, 1em);
      border: 0.1em solid #888;
      border-radius: var(--border-radius-base, 0.5em);
      resize: vertical;
    }
}
